<!DOCTYPE html>
<html>
<head>
	<title>Secrets</title>
	<style type="text/css" media="screen">
		body{
			font-family: sans-serif;
		}
	</style>
</head>
<body>
	<h1>Secrets</h1>
	<h4>Submit your secret:</h4>
	<form action="/create_secret" method='post'>
		{% csrf_token %}
		<textarea name="secret" rows="8" cols="40"></textarea>
		<input type="submit" value="Submit" name="submit">
	</form>
	<div class="">
		{% for secret in secrets %}
			<p>{{secret.secret}}</p>
		{% endfor %}
	</div>
</body>
</html>
